.container.slp-container
  .row.u-margin-top-lg.u-margin-bottom-sm
    .col-md-6
      %h1 Dates to remember
      %p.u-margin-top-md
        = link_to "Submit your talk", "https://forms.gle/YU2sENCjcFBSv8VF7", class: "btn cta-btn orange u-margin-top-xs", target: '_blank'
    .col-md-6
      %ul
        %li CFP opens: Wednesday, March 3, 2021
        %li CFP closes: Friday, April 30, 2021 at 11:59pm Pacific Time (PT) 
        %li CFP notifications: May
        %li Tickets available: May
        %li Schedule announcement: June
        %li Event dates: Tuesday, August 3 – Wednesday, August 4

