:markdown

  ## Requirements

  * Know how to use CSS effectively
  * Expert knowledge of JavaScript
  * Basic knowledge of Vue.js is a plus but not a requirement
  * Collaborate effectively with Product Designers, Developers, and Designers
  * Be able to work with the rest of the community
  * Knowledge of Ruby on Rails is a plus
  * You share our [values](/handbook/values/), and work in accordance with those values.
