<section class="slp-commit-grid slp-relative slp-mb-64">
  <% event.cta.each do | cta | %>
  <!-- All of the blow feilds will be required by CMS, and therefore do not need if statements -->
    <div
      class="slp-text-center slp-col-span-full slp-border slp-border-grayscale-highlight slp-rounded-md slp-p-32 slp-mb-32 slp-relative md:slp-col-span-5"
    > 
      <% if cta.image %>
        <div class="slp-flex slp-justify-center slp-items-center slp-mb-16">
          <img
            src="<%= cta.image %>"
            height=""
            width="200px"
          />
        </div>
      <% end %>
      <h3
        class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-mb-16"
      >
        <%= cta.title %>
      </h3>
      <p
        class="slp-font-normal slp-text-grayscale-333 slp-text-base slp-leading-normal"
      >
        <%= kramdown(cta.description) %>
      </p>
      <div class="slp-flex slp-justify-center slp-items-center slp-mt-32">
        <a
          href="<%= cta.button_url %>"
          class="slp-font-bold slp-text-sm slp-leading-6 slp-underline group-hover:slp-text-ui-secondary slp-text-grayscale-gray2"
        >
          <%= cta.button_text %>
          <svg
            width="9"
            height="6"
            xmlns="http://www.w3.org/2000/svg"
            class="slp-inline-block"
          >
            <path
              d="M6.685.683L9 3 6.685 5.317a.624.624 0 11-.883-.884l.808-.808H.624a.625.625 0 010-1.25H6.61l-.808-.808a.625.625 0 01.883-.884z"
              fill="none"
              class="slp-fill-current group-hover:slp-text-ui-secondary group-focus:slp-text-ui-secondary"
            ></path>
          </svg>
        </a>
      </div> 
    </div>
  <% end %>  
</section>
